body {
    background-image: url(../pngs/teladefundo.png);
    background-size: cover; 
}


.barra-lateral-desktop {
    width: 90px;
    background-color: #d6d8e5; 
}

/*Conteúdo Principal*/
@media (min-width: 768px) {
    .conteudo-principal {
        margin-left: 90px; 
    }
}

/* MENU MOBILE (OFFCANVAS) */
.offcanvas-start {
    width: 90px !important; 
}
.offcanvas {
    background-color: #d6d8e5; 
}


/* Ícone da Navegação/menu */
.icone-nav {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
    padding: 4px; 
}

/* Imagem da sala no card */
.card-sala-imagem {
    height: 150px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: #777;
}

.card-sala-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Bolinha de status, OBS: No programa finalizado com backend e tudo haveria um backend pra definir a cor da bolinha
porém, como não é este o caso foi estilo pré definido */
.indicador-status {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
}