body {
background: linear-gradient(to bottom, #e0f7ff, #f5f5f5);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: 700;
    color: #333;
    text-shadow: 1px 1px 2px #aaa;
}

#campoBusca {
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

.card {
    background: linear-gradient(145deg, #83bdff, #5aa0ff);
    color: #fff;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1) !important;
}

.card:hover {
transform: translateY(-5px) scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,0.4) !important;

}

.card-title {
    font-weight: 700;
}

.card-text {
    font-size: 0.9rem;
}

.pokemon-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background: #f1f1f1;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s;
}

.pokemon-img:hover {
    transform: scale(1.1);
}

.btn-secondary {
background-color: #4a90e2;
border: none;
transition: background-color 0.3s; 
}

.btn-secondary:hover {
    background: #3571b8;
}

.modal-content {
    border-radius: 15px;
    background: #f0f8ff;
}

#estatisticasPokemon li {
    font-weight: 600;
    background: linear-gradient(to right, #83bdff, #5aa0ff);
    color: #fff;
    margin-bottom: 5px;
    border-radius: 8px;
}

#spritesPokemon img {
    border-radius: 10px;
    transition: transform 0.2s;
}

#spritesPokemon img:hover {
    transform: scale(1.1);
}
